.tableSelect > th {
  background-color: black !important;
  color: white;
}

th {
  background-color: #303030;
}

.navbar {
  background: none;
  background-color: transparent;
}

.table-fixed tbody {
  height: 35vh;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

html,
body {
  height: 100%;
}
